# Output
dist

# Dev dependencies
node_modules

# Source, written in TypeScript so JavaScript is not necessary
nativescript-imagepicker/**/*.js
nativescript-imagepicker/**/*.js.map

# Example platforms
/examples/ExampleImgPick/platforms/
/examples/ExampleImgPick/lib/
/examples/ExampleImgPickNG/platforms/
/examples/ExampleImgPickNG/lib/
/examples/ExampleImgPickNG/**/*.js
/examples/ExampleImgPickNG/**/*.js.map
.DS_Store
