branches:
  only: 
    - next
matrix:
  include:
    - stage: "Build and WebPack"
      os: osx
      env:
        - Webpack="iOS"
      osx_image: xcode8.3
      language: node_js 
      node_js: "6"
      jdk: oraclejdk8
      before_script:
        - cd ../demo && tns platform add ios@next
        - cd ../demo-angular && tns platform add ios@next
      script: cd ../demo && npm run build.plugin && npm i && npm run build-ios-bundle && cd ../demo-angular && npm i && npm run build-ios-bundle
    - language: android
      os: linux
      env:
        - Webpack="Android"
      jdk: oraclejdk8
      before_install: nvm install 6.10.3
      before_script:
        - cd ../demo && tns platform add android@next
        - cd ../demo-angular && tns platform add android@next
      script: cd ../demo && npm run build.plugin && npm i && npm run build-android-bundle && cd ../demo-angular && npm i && npm run build-android-bundle
    - os: linux
      env: 
        - Android="25"
      language: android
      jdk: oraclejdk8
      before_install: nvm install 6.10.3
      before_script:
        - cd ../demo && tns platform add android@next
        - cd ../demo-angular && tns platform add android@next
      script: cd ../demo && npm run ci.android.build && cd ../demo-angular && npm run ci.android.build
    - os: osx
      env: 
        - iOS="10.3"
        - Xcode="8.3"
      osx_image: xcode8.3
      language: node_js 
      node_js: "6"
      jdk: oraclejdk8
      before_script:
        - cd ../demo && tns platform add ios@next
        - cd ../demo-angular && tns platform add ios@next
      script: cd ../demo && npm run ci.ios.build && cd ../demo-angular && npm run ci.ios.build

android:
  components:
    - tools
    - platform-tools
    - build-tools-25.0.2
    - android-25
    - extra-android-m2repository

before_cache:
    - rm -f $HOME/.gradle/caches/modules-2/modules-2.lock

cache:
    directories:
        - .nvm
        - $HOME/.gradle/caches/
        - $HOME/.gradle/wrapper/

install:
    - echo no | npm install -g nativescript@next
    - tns usage-reporting disable
    - tns error-reporting disable
    - cd src
    - npm uninstall tns-core-modules -D && npm install tns-core-modules@next -D
    - cd ../demo
    - npm uninstall tns-core-modules -P && npm install tns-core-modules@next -P
    - npm uninstall nativescript-dev-webpack -D && npm install nativescript-dev-webpack@next -D
    - cd ../demo-angular
    - npm uninstall tns-core-modules -P && npm install tns-core-modules@next -P
    - npm uninstall nativescript-angular -P && npm install nativescript-angular@next -P
    - npm uninstall nativescript-dev-webpack -D && npm install nativescript-dev-webpack@next -D

  
