env:
  global:
    - ANDROID_PACKAGE_JS='imagepicker-debug-js-next.apk'
    - ANDROID_PACKAGE_VUE='imagepicker-debug-vue-next.apk'
    - ANDROID_PACKAGE_FOLDER_JS=$TRAVIS_BUILD_DIR/demo/outputs
    - ANDROID_PACKAGE_FOLDER_VUE=$TRAVIS_BUILD_DIR/demo-vue/outputs
    - ANDROID_SAUCE_STORAGE="https://saucelabs.com/rest/v1/storage/$SAUCE_USER"
    - IOS_PACKAGE_JS='imagepicker-demo-js-next.zip'
    - IOS_PACKAGE_VUE='imagepicker-demo-vue-next.zip'
    - IOS_PACKAGE_FOLDER_JS=$TRAVIS_BUILD_DIR/demo/outputs
    - IOS_PACKAGE_FOLDER_VUE=$TRAVIS_BUILD_DIR/demo-vue/outputs
    - IOS_SAUCE_STORAGE="https://saucelabs.com/rest/v1/storage/$SAUCE_USER"

git:
  depth: 1

branches:
  only: 
    - next
matrix:
  include:
    - stage: "WebPack and Build"
      os: osx
      env:
        - WebpackiOS="12.0"
        - Type="VanillaJS"
      osx_image: xcode10.2
      language: node_js
      node_js: "10"
      jdk: oraclejdk8
      before_script: 
        - pod repo update
        - cd ../demo && tns platform add ios@next
      script:
        - cd ../src && npm run build
        - cd ../demo && npm i && tns build ios --bundle --env.uglify --copy-to "./outputs/demo.app"
        - cd $IOS_PACKAGE_FOLDER_JS && zip -r $IOS_PACKAGE_JS demo.app
        - "curl -u $SAUCE_USER:$SAUCE_KEY -X POST -H 'Content-Type: application/octet-stream' $IOS_SAUCE_STORAGE/$IOS_PACKAGE_JS?overwrite=true --data-binary @$IOS_PACKAGE_FOLDER_JS/$IOS_PACKAGE_JS"
    - os: osx
      env:
        - WebpackiOS="12.0"
        - Type="VueJS"
      osx_image: xcode10.2
      language: node_js
      node_js: "10"
      jdk: oraclejdk8
      before_script: 
        - pod repo update
        - cd ../demo-vue && tns platform add ios@next
      script:
        - cd ../src && npm run build
        - cd ../demo-vue && npm i && tns build ios --bundle --env.uglify --copy-to "./outputs/demovue.app"
        - cd $IOS_PACKAGE_FOLDER_VUE && zip -r $IOS_PACKAGE_VUE demovue.app
        - "curl -u $SAUCE_USER:$SAUCE_KEY -X POST -H 'Content-Type: application/octet-stream' $IOS_SAUCE_STORAGE/$IOS_PACKAGE_VUE?overwrite=true --data-binary @$IOS_PACKAGE_FOLDER_VUE/$IOS_PACKAGE_VUE"
    - os: osx
      env:
        - WebpackiOS="12.0"
        - Type="Angular"
      osx_image: xcode10.2
      language: node_js
      node_js: "10"
      jdk: oraclejdk8
      before_script: 
        - pod repo update
        - cd ../demo-angular && tns platform add ios@next
      script:
        - cd ../src && npm run build && npm pack
        - cd ../demo-angular && tns plugin add ../src/*.tgz
        - npm i && tns build ios --bundle --env.uglify --env.aot
    - language: android
      os: linux
      dist: trusty
      env:
        - WebpackAndroid="28"
        - Type="VanillaJS"
      jdk: oraclejdk8
      before_install: nvm install 10
      before_script:
        - cd ../demo && tns platform add android@next
      script:
        - cd ../src && npm run build
        - cd ../demo && npm i && tns build android --bundle --env.uglify --env.snapshot --copy-to "./outputs/app-debug.apk"
        - "curl -u $SAUCE_USER:$SAUCE_KEY -X POST -H 'Content-Type: application/octet-stream' $ANDROID_SAUCE_STORAGE/$ANDROID_PACKAGE_JS?overwrite=true --data-binary @$ANDROID_PACKAGE_FOLDER_JS/app-debug.apk"
    - language: android
      os: linux
      dist: trusty
      env:
        - WebpackAndroid="28"
        - Type="VueJS"
      jdk: oraclejdk8
      before_install: nvm install 10
      before_script:
        - cd ../demo-vue && tns platform add android@next
      script:
        - cd ../src && npm run build
        - cd ../demo-vue && npm i && tns build android --bundle --env.uglify --copy-to "./outputs/app-debug.apk"
        - "curl -u $SAUCE_USER:$SAUCE_KEY -X POST -H 'Content-Type: application/octet-stream' $ANDROID_SAUCE_STORAGE/$ANDROID_PACKAGE_VUE?overwrite=true --data-binary @$ANDROID_PACKAGE_FOLDER_VUE/app-debug.apk"
    - language: android
      os: linux
      dist: trusty
      env:
        - WebpackAndroid="28"
        - Type="Angular"
      jdk: oraclejdk8
      before_install: nvm install 10
      before_script:
        - cd ../demo-angular && tns platform add android@next
      script:
        - cd ../src && npm run build
        - cd ../publish && sh pack.sh
        - cd ../demo-angular && tns plugin add ../publish/package/*.tgz
        - npm i && tns build android --bundle --env.uglify --env.snapshot --env.aot
    - language: android
      os: linux
      dist: trusty
      env:
        - BuildAndroid="28"
        - Type="VanillaJS"

      jdk: oraclejdk8
      before_install: nvm install 10
      before_script:
        - cd ../demo && tns platform add android@next
      script:
        - cd ../demo && npm run ci.android.build
    - language: android
      os: linux
      dist: trusty
      env:
        - BuildAndroid="28"
        - Type="Angular"

      jdk: oraclejdk8
      before_install: nvm install 10
      before_script:
        - cd ../demo-angular && tns platform add android@next
      script:
        - cd ../demo-angular && npm run ci.android.build
    - os: osx
      env:
        - BuildiOS="12.0"
        - Xcode="10.0"
        - Type="VanillaJS"
      osx_image: xcode10.2
      language: node_js
      node_js: "10"
      jdk: oraclejdk8
      before_script: 
        - pod repo update
        - cd ../demo && tns platform add ios@next
      script:
        - cd ../src && npm run build
        - cd ../demo && tns build ios --bundle --env.uglify
    - os: osx
      env:
        - BuildiOS="12.0"
        - Xcode="10.0"
        - Type="Angular"
      osx_image: xcode10.2
      language: node_js
      node_js: "10"
      jdk: oraclejdk8
      before_script: 
        - pod repo update
        - cd ../demo-angular && tns platform add ios@next
      script:
        - cd ../demo-angular && npm run ci.ios.build
    - stage: "UI Tests"
      env:
        - Android="24"
        - Type="VanillaJS"
      language: node_js
      os: linux
      node_js: "10"
      script:
        - npm i -g appium
        - cd ../demo && npm i
        - travis_wait travis_retry npm run e2e -- --runType android24 --sauceLab --appPath $ANDROID_PACKAGE_JS
    - os: linux
      env:
        - Android="24"
        - Type="VueJS"
      language: node_js
      os: linux
      node_js: "10"
      script:
        - npm i -g appium
        - cd ../demo-vue && npm i
        - travis_wait travis_retry npm run e2e -- --runType android24 --sauceLab --appPath $ANDROID_PACKAGE_VUE
    - os: linux
      env:
        - iOS="12.0"
        - Type="VanillaJS"
      language: node_js
      node_js: "10"
      script:
        - npm i -g appium
        - cd ../demo && npm i
        - travis_wait travis_retry npm run e2e -- --runType sim12iPhoneX --sauceLab --appPath $IOS_PACKAGE_JS
    - os: linux
      env:
        - iOS="12.0"
        - Type="VueJS"
      language: node_js
      node_js: "10"
      script:
        - npm i -g appium
        - cd ../demo-vue && npm i
        - travis_wait travis_retry npm run e2e -- --runType sim12iPhoneX --sauceLab --appPath $IOS_PACKAGE_VUE

android:
  components:
    - tools
    - platform-tools
    - build-tools-28.0.3
    - android-28
    - android-23
    - extra-android-m2repository

before_cache:
    - rm -f $HOME/.gradle/caches/modules-2/modules-2.lock

cache:
    directories:
        - .nvm
        - $HOME/.gradle/caches/
        - $HOME/.gradle/wrapper/
        
before_install:
    - sudo pip install --upgrade pip
    - sudo pip install six
        
install:
    - echo no | npm install -g nativescript@next
    - tns usage-reporting disable
    - tns error-reporting disable
    - cd demo
    - npm install tns-core-modules@next -P --save-exact
    - npm install tns-platform-declarations@next -D --save-exact
    - npm install nativescript-dev-webpack@next -D --save-exact
    - npm install nativescript-dev-typescript@next -D --save-exact
    - ./node_modules/.bin/update-ns-webpack --deps --configs
    - npx rimraf -- hooks node_modules platforms package-lock.json
    - npm install -D wd@latest
    - cd ../demo-angular
    - npm install tns-core-modules@next -P --save-exact
    - npm install tns-platform-declarations@next -D --save-exact
    - npm install nativescript-angular@next -P --save-exact
    - npm install nativescript-dev-webpack@next -D --save-exact
    - npm install nativescript-dev-typescript@next -D --save-exact
    - ./node_modules/.bin/update-ns-webpack --deps --configs
    - ./node_modules/.bin/update-app-ng-deps
    - npx rimraf -- hooks node_modules platforms package-lock.json
    - npm install -D wd@latest
    - cd ../demo-vue
    - npm install tns-core-modules@next -P --save-exact
    - npm install nativescript-vue@next -P --save-exact
    - npm install tns-platform-declarations@next -D --save-exact
    - npm install nativescript-dev-webpack@next -D --save-exact
    - npm install nativescript-dev-typescript@next -D --save-exact
    - ./node_modules/.bin/update-ns-webpack --deps --configs
    - npx rimraf -- hooks node_modules platforms package-lock.json
    - npm install -D wd@latest

