branches:
  only: 
    - master
env:
  global:
    - ANDROID_PACKAGE_JS='imagepicker-debug-js.apk'
    - ANDROID_PACKAGE_VUE='imagepicker-debug-vue.apk'
    - ANDROID_PACKAGE_FOLDER_JS=$TRAVIS_BUILD_DIR/demo/outputs
    - ANDROID_PACKAGE_FOLDER_VUE=$TRAVIS_BUILD_DIR/demo-vue/outputs
    - ANDROID_SAUCE_STORAGE="https://saucelabs.com/rest/v1/storage/$SAUCE_USER"
    - IOS_PACKAGE_JS='imagepicker-demo-js.zip'
    - IOS_PACKAGE_VUE='imagepicker-demo-vue.zip'
    - IOS_PACKAGE_FOLDER_JS=$TRAVIS_BUILD_DIR/demo/outputs
    - IOS_PACKAGE_FOLDER_VUE=$TRAVIS_BUILD_DIR/demo-vue/outputs
    - IOS_SAUCE_STORAGE="https://saucelabs.com/rest/v1/storage/$SAUCE_USER"

matrix:
  include:
    - stage: "WebPack and Build"
      language: android
      os: linux
      env:
        - WebpackAndroid="28"
        - Type="VanillaJS"
      jdk: oraclejdk8
      before_install: nvm install 10
      script:
        - ls -l $ANDROID_HOME
        - ls -l $ANDROID_HOME/platform-tools
        - $ANDROID_HOME/platform-tools/adb help
        - $ANDROID_HOME/platform-tools/adb version
        - tns doctor --log trace
        - cd src && npm run build
        - cd ../demo && npm i && tns build android --bundle --env.uglify --env.snapshot --copy-to "./outputs/app-debug.apk"
        - "curl -u $SAUCE_USER:$SAUCE_KEY -X POST -H 'Content-Type: application/octet-stream' $ANDROID_SAUCE_STORAGE/$ANDROID_PACKAGE_JS?overwrite=true --data-binary @$ANDROID_PACKAGE_FOLDER_JS/app-debug.apk"
        

android:
  components:
    - tools
    - platform-tools
    - build-tools-28.0.3
    - android-28
    - extra-android-m2repository
    - sys-img-armeabi-v7a-android-21

before_install:
    - sudo pip install --upgrade pip
    - sudo pip install six

install:
    - echo no | npm install -g nativescript
    - tns usage-reporting disable
    - tns error-reporting disable
